.game-card {
    height: 100vh;
    font-family: 'Open Sans', monospace;
}

.card{
	width: 530px;
	margin: auto;
}

.btn-group{
	width: 400px;
	justify-content: space-between;
}

.card-header p{
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
}

#btnRetry{
	width: 400px;
}